.taskForm{
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 450px;
    
    label{
        font-size: 1.2em;
    }

    input{
        padding: 5px;
        border-radius: 7px;
        border-style: double;
    }

    button{
        padding: 6px;
        border-radius: 7px;
        border: none;
        font-size: .95em;
        cursor: pointer;
    }
}